//Typography Varibles
$title-font: 'Lato', sans-serif;
$main-font: 'Lato', sans-serif;

// Font weights
$light: 100;
$regular: 400;
$bold: 600;

//Colors
$primary-color: red;
$secondary-color:#af0000;
$text-color:#000;
$bg-color:#fff;
