body {
    background: $bg-color;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/*TYPOGRAPHY */

h1{font-size: 46px;}
h2{font-size: 36px;}
h3{font-size: 28px;}
h4{font-size: 22px;}
h5{font-size: 18px;}
h6{font-size: 16px;}

p {
    font-size: 16px;
  line-height: 1.45;
  margin-bottom: .8rem;
  max-width: 34em;
  color:$text-color;

  &:last-child {
    margin-bottom: 0;
  }
}



.container {
    width: 1190px;
    margin: 0 auto;
    @include breakpoint(desktop) {
        width: 960px;
    }
    @include breakpoint(tablet) {
        width: 97%;
    }
    @include breakpoint(mobile) {
        width: 95%;
    }
}

/* animation transition*/
a, img {
    -o-transition: 0.7s;
    -ms-transition: 0.7s;
    -moz-transition: 0.7s;
    -webkit-transition: 0.7s;
    transition: 0.7s;
    outline: 0;
}


/*Selection*/
::-moz-selection {
    background: black;
    color: #fff;
}

::selection {
    background: black;
    color: #fff
}

/*Clearfix*/
.clearfix:before,
.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    overflow: hidden;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    zoom: 1;
}

/* Typography*/

h1, h2, h3, h4,h5 {
    font-family: $title-font;
}

p, li, a{
    font-family: $body-font;
}
